{# Use base skeleton #}
{% extends 'templates/base.twig' %}

{# Title of page #}
{% block title %}{{ this.data.title }}{% endblock %}

{# Body class #}
{% set bodyClass = 'dbrs' %}

{# Content #}
{% block content %}
    <!--  BEGIN Main content -->
    <section class="dbrs-magic-box">
        <div class="container">
            <!-- BEGIN Service title -->
            <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-12 center-block animated slideInLeft">
                    <div class="dbrs-public-text">
                        <h4>debris | {{ this.data.title }}</h4>
                    </div>
                </div>
            </div>
            <!-- END Service title -->

            <!-- BEGIN Main area -->
            <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-12 center-block">
                    <!-- BEGIN Form -->
                    <form action="/" method="post" class="form-horizontal dbrs-form">
                        <div id="urlfield" class="input-group">
                            <input type="text" id="urlfield_url" name="urlfield[url]" required="required" class="form-control"
                                   placeholder="Paste your URL" value="" autocomplete="off" autocorrect="off" autocapitalize="off">
                            <span class="input-group-btn">
                                <button type="submit" id="urlfield_Shorten" name="urlfield[Shorten]" class="btn btn-default">Shorten</button>
                            </span>
                        </div>
                    </form>
                    <!-- END Form -->

                    <!-- BEGIN url section -->
                    <section class="dbrs-box done-urls">

                        <div class="col-md-12 col-sm-12 dbrs-url-invalid">
                            <label for="dbrs-sad-img"></label>

                            <div id="dbrs-sad-img">
                                <img src="/img/icons/sad-face-128.png" alt="Image" width="128" height="128">
                            </div>
                        </div>
                    </section>
                    <!-- END url section -->

                    {% if this.data.latestUrls is not empty%}
                        <section class="dbrs-box recent-urls">

                            {% for url in this.data.latestUrls %}
                                <div class="row url-entity">
                                    <div class="dbrs-url-valid col-md-12 col-sm-12">
                                        <!-- Url ico -->
                                        <div class="col-md-1 col-sm-1 col-xs-1">
                                            <a class="no-fade" href="#" target="_blank" title="">
                                                <p aria-hidden="true" class="icon_link"></p>
                                            </a>
                                        </div>

                                        <!-- Url data -->
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <div class="dbrs-box-srt col-sm-12">
                                                <div class="dbrs-box-content">
                                                    <a href="{{ url.shortUrl }}">{{ url.shortUrl }}</a>
                                                </div>
                                            </div>
                                            <div class="dbrs-box-lng col-sm-12">
                                                <div class="dbrs-box-content">
                                                    <a href="{{ url.url }}">{{ url.description }}</a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Url action -->
                                        <div class="dbrs-url-action col-md-2 col-sm-2 col-xs-2">
                                            <p class="dbrs-url-views">Views: <span>{{ url.views }}</span></p>
                                            {#<button class="dbrs-url-copy">Copy</button>#}
                                            <button class="dbrs-url-copy" id="copy-button" data-clipboard-text="Copy Me!" title="Click to copy url">Copy</button>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 dbrs-url-invalid">
                                        <label for="dbrs-sad-img"></label>

                                        <div id="dbrs-sad-img">
                                            <img src="/img/icons/sad-face-128.png" alt="Image" width="128" height="128">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </section>
                    {% endif %}

                </div>
            </div>
            <!-- End Main area -->
        </div>
    </section>

    <section class="dbrs-goods">
        <div class="container">

            <div class="row">
                <!-- RWD -->
                <div class="col-md-4 col-sm-4 col-goods">
                    <div class="glyph" data-type="rwd">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                    </div>
                    <h4>Responsive</h4>
                    <p>Responsive Web Design makes dbrs look good on all devices (PC, laptops, tablets, and smartphones).</p>
                </div>
                <!-- API -->
                <div class="col-md-4 col-sm-4 col-goods">
                    <div class="glyph" data-type="api">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                    </div>
                    <h4>API</h4>
                    <p>For your enjoyment, I created an API. You can send a request from your service to the address of dbrs API and get a response data in JSON.</p>
                </div>
                <!-- Free -->
                <div class="col-md-4 col-sm-4 col-goods">
                    <div class="glyph" data-type="free">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                    </div>
                    <h4>Free</h4>
                    <p>dbrs Shortener is completely free. You should not pay for using service never.</p>
                </div>
            </div>

            <div class="row learn-more">
                <div class="col-sm-12">
                    <button class="btn btn-default">About dbrs</button>
                </div>
            </div>

        </div>
    </section>


    <section class="dbrs-learn-more">
        <div class="container">
            <div class="row goods-description">
                <div class="desc rwd col-md-12 col-sm-12">
                    <h3 class="page-header">RWD</h3>
                    <p class="text-muted">Text</p>
                </div>
                <div class="desc api col-md-12 col-sm-12">
                    <h3 class="page-header">API</h3>
                    <p class="text-muted">Text</p>
                </div>
                <div class="desc free col-md-12 col-sm-12">
                    <h3 class="page-header">Free</h3>
                    <p class="text-muted">Text</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END Main content -->

{% endblock %}